# Intellij project files

*.iml
.idea/

# Python compiled files

*pyc
cern_search_rest.egg-info/

# OpenShift Secrets

secrets/

# SSL files

*.key
*.crt

# Dump files

*.rdb

# Local env source

env.sh

# Debug and other logs

*.log
