# Intellij project files

*.iml
.idea/

# Python compiled files

*pyc
cern_search_rest_api.egg-info/
.eggs

# OpenShift Secrets

secrets/

# SSL files

*.key
*.crt
*.csr
*.pem
*.srl

# Dump files

*.rdb

# Local env source

env/
*.ini
.env*.*

# Debug and other logs

*.log
*.pid

# Gitlab CI Runner
builds/

# Test files
.api_token

# Others
.DS_Store


# Pip source folder
src
