[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.7.9"
flake8-docstrings = ">=1.5.0"
isort = "==4.3.21"
pytest-dotenv = "*"
pytest-invenio = ">=1.2.0"
pytest-mock = ">=1.6.0"

[packages]
Flask = "*"
eventlet = "*"
gevent = ">=1.4.0"
invenio-access = ">=1.4.1,<1.5.0"
invenio-accounts = ">=1.3.0,<1.4.0"
invenio-admin = ">=1.2.1,<1.3.0"
invenio-app = ">=1.2.6,<1.3.0"
invenio-assets = ">=1.1.3,<1.2.0"
invenio-base = ">=1.2.3,<1.3.0"
invenio-celery = ">=1.2.0,<1.3.0"
invenio-config = ">=1.0.3,<1.1.0"
invenio-db = {version = ">=1.0.5,<1.1.0",extras = ["postgresql", "versioning"]}
invenio-files-processor = {extras = ["tika"],git = "https://github.com/carantunes/invenio-files-processor.git",ref = "1.0.2-alpha"}
invenio-files-rest = ">=1.2.0,<1.3.0"
invenio-indexer = ">=1.1.1,<1.2.0"
invenio-i18n = "<1.3.0,>=1.2.0"
invenio-jsonschemas = ">=1.1.0,<1.2.0"
invenio-logging = {extras = ["sentry-sdk"],version = ">=1.3.0,<1.4.0"}
invenio-oauth2server = ">=1.2.0,<1.3.0"
invenio-oauthclient = "<1.4.0,>=1.3.5"
invenio-records = {extras = ["postgresql"],version = ">=1.3.1,<1.4.0"}
invenio-records-files = ">=1.2.1,<1.3.0"
invenio-records-rest = ">=1.7.1,<1.8.0"
invenio-rest = ">=1.2.1,<1.3.0"
invenio-search = {extras = ["elasticsearch7"],version = ">=1.3.1,<1.4.0"}
invenio-theme = ">=1.1.4,<1.2.0"
ldap = "<1.1.0,>=1.0.2"
npm = ">=0.1.1"
pip = "*"
python-ldap = "<3.2.0,>=3.1.0"
raven = ">=6.9.0,<6.10.0"
redis = ">=2.10.0,<3.0.0"
uWSGI = ">=2.0.16"
uwsgi-tools = ">=1.1.1,<1.2.0"
wtforms = "<2.3.0"
tika = "==1.24"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
