[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.7.9"
flake8-docstrings = ">=1.5.0"
isort = "==4.3.21"
pytest-invenio = ">=1.2.0"
pytest-mock = ">=1.6.0"
pytest-dotenv = "*"

[packages]
invenio-access = ">=1.0.0,<1.1.0"
invenio-admin = ">=1.0.0,<1.1.0"
invenio-accounts = ">=1.0.0,<1.1.0"
invenio-app = "<1.3.0,>=1.2.0"
invenio-base = "<1.3.0,>=1.2.0"
invenio-config = "<1.1.0,>=1.0.2"
invenio-db = {version = ">=1.0.0,<1.1.0",extras = ["postgresql", "versioning"]}
invenio-indexer = {extras = ["elasticsearch7"],version = "<1.2.0,>=1.1.1"}
invenio-jsonschemas = ">=1.0.0,<1.1.0"
invenio-logging = ">=1.0.0,<1.1.0"
invenio-records-rest = {extras = ["elasticsearch7"],version = "<1.7.0,>=1.6.0"}
invenio-records = {extras = ["postgresql"],version = ">=1.0.0,<1.3.0"}
invenio-rest = {extras = ["cors"],version = "<1.2.0,>=1.1.0"}
invenio-oauthclient = ">=1.0.0,<1.1.0"
invenio-oauth2server = ">=1.0.0,<1.1.0"
invenio-search = {extras = ["elasticsearch7"],git = "https://github.com/carantunes/invenio-search.git",ref = "cli/temp-fix-es7-401-instead-404"}
invenio-theme = ">=1.1.0,<1.2.0"
ldap = "<1.1.0,>=1.0.2"
npm = ">=0.1.1"
python-ldap = "<3.2.0,>=3.1.0"
raven = ">=6.9.0,<6.10.0"
redis = ">=2.10.0,<3.0.0"
uwsgi-tools = ">=1.1.1,<1.2.0"
Flask = "*"
uWSGI = ">=2.0.16"
marshmallow = "<3"
invenio-records-files = "<1.3.0,>=1.2.0"
invenio-celery = "<1.2.0,>=1.1.0"
invenio-files-rest = ">=1.0.5,<1.1.0"
gevent = ">=1.4.0"
invenio-files-processor = {extras = ["tika"],git = "https://github.com/carantunes/invenio-files-processor.git",ref = "1.0.2-alpha"}
Werkzeug = ">=0.15,<1.0.0"
pip = "*"
eventlet = "*"
jsonresolver = "<0.3.0"
wtforms = "<2.3.0"

[requires]
python_version = "3.6"
