# -*- coding: utf-8 -*-
#
# This file is part of CERN Search.
# Copyright (C) 2018-2019 CERN.
#
# CERN Search is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.


-e git://github.com/inveniosoftware/invenio-indexer.git@e52dc11556f5842d5395a5bd03d62e0886775a10#egg=invenio-indexer
