flask
invenio-access>=1.0.0,<1.1.0
invenio-admin>=1.0.0,<1.1.0
invenio-accounts>=1.0.0,<1.1.0
invenio-app>=1.0.0,<1.1.0
invenio-base>=1.0.0,<1.1.0
invenio-config>=1.0.0,<1.1.0
invenio-db[postgresql,versioning]>=1.0.0,<1.1.0
-e git://github.com/ppanero/invenio-indexer.git@020008440e90128b6f0f9b2532a7a217c7e314b0#egg=invenio-indexer
invenio-jsonschemas>=1.0.0,<1.1.0
invenio-logging>=1.0.0,<1.1.0
invenio-records-rest[elasticsearch6]>=1.3.0,<1.4.0
invenio-records[postgresql]>=1.0.0,<1.1.0
invenio-rest[cors]>=1.0.0,<1.1.0
invenio-oauthclient>=1.0.0,<1.1.0
invenio_oauth2server>=1.0.0,<1.1.0
invenio-search[elasticsearch6]>=1.0.0,<1.1.0
invenio-theme>=1.1.0,<1.2.0
ldap>=1.0.2,<1.1.0
npm>=0.1.1
python-ldap>=3.1.0,<3.2.0
raven>=6.9.0,<6.10.0
redis>=2.10.0,<3.0.0
uWSGI>=2.0.16
uwsgi-tools>=1.1.1,<1.2.0
