# -*- coding: utf-8 -*-
#
# Copyright (C) 2018, CERN
#
# This software is distributed under the terms of the GNU General Public
# Licence version 3 (GPL Version 3), copied verbatim in the file "COPYING".
# In applying this license, CERN does not waive the privileges and immunities
# granted to it by virtue of its status as Intergovernmental Organization
# or submit itself to any jurisdiction.


-e git://github.com/ppanero/invenio-indexer.git@020008440e90128b6f0f9b2532a7a217c7e314b0#egg=invenio-indexer
-e git://github.com/inveniosoftware/invenio-search.git@e97dafba693330cefa9503f7a3d0839dd4cfcafd#egg=invenio-search
